@import "colors"


.context
    height: 100vh
    display: flex
    flex-direction: column

.main
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center

.panelContainer
    width: 750px
    height: 520px
    display: flex
    justify-content: space-around

.leftPanel, .rightPanel
    width: 50%
    padding: 80px 50px 80px 50px
    display: flex
    flex-direction: column
    font-family: "Nunito Sans", sans-serif
    font-size: 14px
    h1
        font-size: 1.36rem
        font-family: "Quicksand", sans-serif

.leftPanel
    align-items: flex-start
    background: linear-gradient($vibrant, $vibrant-light)
    h1
        color: #ffffff
    p
        color: #ffffff
    .topic
        height: 50px
        display: flex
        margin-top: 20px
        .topicIcon
            width: 47px
            height: 47px
            display: flex
            justify-content: center
            align-items: center
            border: 1px solid #ffffff
            border-radius: 14px
            color: #ffffff
        .topicText
            display: flex
            flex-direction: column
            justify-content: space-between
            margin-left: 15px
            h1
                font-size: 1.23rem
                margin: 0
            p
                margin: 0

.rightPanel
    align-items: center
    background: #ffffff
    h1
        color: #4f515b
    form
        display: flex
        flex-direction: column
        align-items: center
    .input
        width: 100%
        height: 40px
        margin: 8px
        padding: 8px 16px 8px 48px
        line-height: 25px
        border-radius: 50px
        border: none
        background: #f7f7f7
        color: #626c72
        outline: none
    .inputError
        color: $vibrant-light
        font-size: small
        display: flex
        flex-direction: column
        gap: 5px
    .loginButton
        width: 80%
        height: 40px
        margin-top: 20px
        font-size: 16px
        color: #ffffff
        background: linear-gradient(45deg, $vibrant, $vibrant-light)
        border: none
        border-radius: 50px
        cursor: pointer
    .signupSection
        color: #626c72
        a
            color: $vibrant
